.coinPage-Container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #fafafa;
  margin-top: 3rem;
}

.coinPage-Info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 700px;
  background: #374151;
  border-radius: 20px;
}

.coinPage-Info h1 {
  color: white;
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 700;
  color: #e9e9e9;
  background-color: transparent;
}

.coinPage-Icon {
  height: 150px;
  margin: 30px 0px 30px 0px;
  background-color: transparent;
}

.coinPage-Data {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  margin: 5px 0px 5px 0px;
  background-color: transparent;
}

.coinPage-Row {
  display: flex;
  flex-direction: row;

  width: 80%;
  align-items: center;
  margin: 5px 0px 5px 0px;
  background-color: transparent;
}

.coinPage-RowData {
  width: 200px;
  color: white;
  font-size: 20px;
  font-weight: 300;
  background-color: transparent;
}

.coinPage-RowHeader {
  width: 250px;
  font-size: 20px;
  color: white;
  font-size: 20px;
  font-weight: 500;
  background-color: transparent;
}

.red {
  color: #ef4444;
}

.green {
  color: #11d811;
}

.coinPage-RouteButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 100px;
  padding: 2px 10px 5px 10px;
  background-color: #fca5a5;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  margin-top: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
}

.coinPage-RouteButton:active {
  text-decoration: none;
}

.coinPage-RouteButton:hover {
  background: #f87171;
  transform: scale(1.1);
  transition: all ease-in-out 0.2s;
}

.buttonContainer {
  position: relative;
}

.search-icon {
  position: absolute;
  left: 0;

  padding: 5px;
  padding-top: 10px;
}
.headerContainer h2 {
  margin: 20px auto;
}

@media only screen and (max-width: 577px) {
  .coinPage-RouteButton {
    height: 25px;
    width: 60px;
    padding: 2px 8px 5px 8px;
    font-weight: 300;
    font-size: 12px;
    bottom: 0;
    margin-top: 20px;
  }
  .coinPage-Info {
    max-width: 380px;
  }

  .coinPage-Info h1 {
    font-size: 35px;
  }
  .coinPage-Icon {
    height: 100px;
    width: 100px;
  }
  .coinPage-Data {
    width: 90%;
    font-size: 1.2rem;
  }
  .coinPage-RowData {
    font-size: 16px;
  }
  .coinPage-RowHeader {
    font-size: 14px;
    width: 200px;
  }
}

@media only screen and (max-width: 398px) {
  .coinPage-RouteButton {
    height: 25px;
    width: 60px;
    font-weight: 300;
    font-size: 12px;
    bottom: 0;
    margin-top: 20px;
  }
  .coinPage-Info {
    width: 330px;
    max-height: 600px;
  }
  .coinPage-Data {
    width: 100%;
    font-size: 0.5rem;
  }

  .coinPage-RowHeader {
    font-size: 12px;
    width: 200px;
  }
}
