.main-txt {
  margin-top: 20px;
}
.main,
.Header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
@media only screen and (max-width: 1033px) {
  .Header-img {
    width: 100%;
    height: auto;
  }
}
@media only screen and (max-width: 746px) {
  .Header-img {
    height: 200px;
  }
  .main-txt {
    font-size: 25px;
  }
  .strong-txt {
    font-size: 12px;
  }
}
@media only screen and (max-width: 585px) {
  .Header-img {
    width: 100%;
    height: auto;
  }
  .main-txt {
    font-size: 16px;
  }
  .strong-txt {
    font-size: 8px;
  }
}
@media only screen and (max-width: 420px) {
  .Header-img {
    width: 100%;
    height: auto;
  }
}
