.footer {
  margin-top: 5rem;
  padding: 1rem;
  background-color: #262930;
  color: #e3e3e3;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
.footer-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.footer-flex h4 {
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 20px;
}
.footer-item {
  display: flex;
  text-align: center;
}
.footer-link {
  font-size: 25px;
  padding-left: 1rem;
  cursor: pointer;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #f3bb2fea;
}
.img-footer {
  width: 120px;
  height: auto;
}
.img-footer-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-direction: row;
}
.img-footer img {
  display: flex;
  flex-direction: row;
  width: 120px;
  height: auto;
  box-sizing: border-box;
  margin-left: 2rem;
}
@media only screen and (max-width: 638px) {
  .footer {
    height: auto;
    text-align: center;
  }
  .footer-flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .footer-flex h4 {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 0px;
  }
  .footer-link {
    padding-left: 0px;
    padding: 12px;
  }
  social-list {
    padding: 20px 5px;
  }
}
