* {
  font-family: vazir;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  background-color: #f3f3f3;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.headerContainer h1 {
  color: rgb(75, 74, 74);
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 30px;
}

.headerContainer input {
  padding: 8px 12px 8px 12px;
  width: 280px;
  height: 40px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  color: rgb(150, 143, 143);
  font-weight: 500;
  font-size: 15px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.buttonContainer img:hover {
  background: rgb(255, 255, 255);
  transition: all ease-in-out 0.2s;
}

.buttonContainer {
  margin: 20px auto;
}

::placeholder {
  color: rgb(168, 168, 168);
  font-weight: 500;
  text-transform: uppercase;
}

.headerContainer input:focus {
  outline: none;
  border-bottom: solid #e97168 2px;
}

.coinContainer {
  display: flex;
  flex-direction: column;
}

.loadingMssg {
  color: rgb(153, 148, 148);
}
